.section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 100px;
  border: 1px solid black;
  border-radius: 8px;
}

.stats {
  background-color: darkgrey;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 0;
}

.avatar {
  margin-top: 12px;
  width: 150px;
  border-radius: 50%;
  background-color: black;
}

.userName {
  font-weight: bold;
  font-size: 24px;
}

.statsTitle {
  font-weight: bold;
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100%;
  border: 1px solid black;
  padding: 16px;
}
